<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('partials/links') %>
</head>
<body>
<title>Chart</title>
</head>
<body>
<%- include('partials/nav') %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <h1>Sample 30-day Sales Chart</h1>
                </div>
                <div class="card-body">
                    <canvas id="chartCtx" class="h-100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/scripts') %>
<script>
    let dateLabels = Array.from(Array(31).keys()); 
    dateLabels.shift();
      new Chart(document.getElementById("chartCtx"), {
        type: 'line',
        data: {
          labels: dateLabels,
          datasets: [
            { 
              data: [4050,5000,6700,5070,7000,8070,6900,6555,5900,7540,4050,5000,6700,5070,7000,8070,6900,6555,5900,7540,4050,5000,6700,5070,7000,8070,6900,6555,5900,7540],
              label: "Sales",
              borderColor: "grey",
              fill: false
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'World population per region (in millions)'
          }
        }
      });
</script>
</body>
</html>